{% extends 'base.html' %}


{% block content %}


<h1>Pesagem do concreto produzido</h1>



<div class="container">
    <div class = "row">
        <div class="col-3">
            <br>
            Adicionar pesagem das amostras de concreto
            <br>
            <form method="POST">
              <br>
              <input size="3" class="form-control" value="" name="massa_piloto", placeholder="Massa amostra piloto (kg)">
              <br>
              <input size="3" class="form-control" value="" name="massa_rico", placeholder="Massa amostra rico (kg)">
              <br>
              <input size="3" class="form-control" value="" name="massa_pobre", placeholder="Massa amostra pobre (kg)">
              <br>
              <input type="submit" class="btn btn-secondary" value="Adicionar pesagem">
            </form>
        </div>

        <div class="col-9">
            <div class="container">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dosagem/{{ id }}">Piloto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auxiliar/{{ id }}">Auxiliar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/consumo_cimento/{{ id }}">Consumo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/corpo_de_prova/{{ id }}">Corpo de Prova</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resultados/{{ id }}">Resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calculadora/{{ id }}">Calculadora</a>
              </li>
            </ul>
            <br>

            <h3>Dados da pesagem</h3>
            <h4> Volume do recipiente utilizado: {{ recipiente }} m³</h4>
            {% if consumo_piloto_salvo %}
            <h4> Massa da amostra piloto: {{ consumo_piloto_salvo.kg_piloto }} kg</h4>
            {% endif %}
            {% if consumo_rico_salvo %}
            <h4> Massa da amostra rico: {{ consumo_rico_salvo.kg_rico }} kg</h4>
            {% endif %}
            {% if consumo_pobre_salvo %}
            <h4> Massa da amostra pobre: {{ consumo_pobre_salvo.kg_pobre }} kg</h4>
            {% endif %}

			</div>
		</div>
	</div>
</div>





{% endblock %}







