{% extends 'base.html' %}

{% block content %}


<h1>Determinação experimental da dosagem ideal de argamassa (alfa)</h1>

<div class="container">
    <div class = "row">
        <div class="container">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dosagem/{{ id }}">Piloto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auxiliar/{{ id }}">Auxiliar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/consumo_cimento/{{ id }}">Consumo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/corpo_de_prova/{{ id }}">Resistências à compressão</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resultados/{{ id }}">Relatório</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calculadora/{{ id }}">Calculadora</a>
              </li>
            </ul>
            <br>
        </div>
    </div>


    <!-- formulario para adicionar alfa -->
    <div class=row>
        <form method="POST">
            <div class=col-2>
                {{ form.hidden_tag() }}
                {{ form.alfa(class="form-control", placeholder='Novo alfa') }}
            </div>
            <div class=col-2>
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>                
    </div>
    <br>
    <!-- fim -->

    <h4>Traço piloto<br>1 : m<br>Slump: {{ slump }} mm</h4>

    <table class="table table-dark table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="4">Acréscimos para determinação do teor ideal de argamassa</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>#</th>
            <th>Alfa</th>
            <th>Cimento</th>
            <th>Areia</th>
            <th>Brita</th>
            <th>Água</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i in alfa_ordenado %}
    <form method="POST" action="/agua">
        <tr>
            <td>{{ i.indice }}</td>
            <td>{{ i.alfa }}</td>
            {% if i.indice == 1 %}
                <td>{{ i.c_massa }}</td>
                <td>{{ i.a_massa }}</td>
                <td>{{ pesobrita }}</td>
            {% else %}
                <td> + {{ i.c_acr }}</td>
                <td> + {{ i.a_acr }}</td>
                <td> + 0 </td>
            {% endif %}
            <td><input type="hidden" value="{{ i.id }}" name="i_id">
            <input type="text" size="1" class="form-control form-control-sm" value="{{ i.agua }}" name="valor_agua_novo"></td>
            <td><input type="submit" class="btn btn-secondary btn-sm" value="Update"></td>
            <td><a type="button" class='btn btn-danger btn-sm' data-bs-toggle="modal" data-bs-target="#exampleModal{{ i.id }}">Deletar</a></td>
        </tr>
    </form>

    {% endfor %}
    </tbody>
    </table>
</div>

{%for i in alfa_ordenado %}
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar Ensaio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja deletar a dosagem "alfa = {{ i.alfa }}" do traço piloto?
        <br>Deletar uma dosagem pode ocasionar em divergências entre os materiais calculados e os materiais utilizados no ensaio em laboratório, comprometendo os resultados do ensaio.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/dosagem/delete/{{ i.id }}"class="btn btn-danger">Deletar</a></td>
      </div>
    </div>
  </div>
</div>
{% endfor %}




{% endblock %}
