{% extends 'base.html' %}

{% block content %}


<h1>Editar Ensaio</h1>

<div class="container">
    <div class='col-3'>
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {{ form.nome.label }}<br>
        {{ form.nome(class="form-control form-control-sm", value=editar.nome) }}<br>

        {{ form.pesobrita.label }}<br>
        {{ form.pesobrita(class="form-control form-control-sm", value=editar.pesobrita) }}<br>

        {{ form.slump.label }}<br>
        {{ form.slump(class="form-control form-control-sm", value=editar.slump) }}<br>

        {{ form.piloto.label }}<br>
        {{ form.piloto(class="form-control form-control-sm", value=editar.piloto) }}<br>

        {{ form.rico.label }}<br>
        {{ form.rico(class="form-control form-control-sm", value=editar.rico) }}<br>

        {{ form.pobre.label }}<br>
        {{ form.pobre(class="form-control form-control-sm", value=editar.pobre) }}<br>

        {{ form.volume_recipiente.label }}<br>
        {{ form.volume_recipiente(class="form-control form-control-sm", value=editar.volume) }}<br>

        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>


{% endblock %}
