{% extends 'base.html' %}

{% block content %}


<h1>Home Page</h1>

<div class="container">

    <a class="btn btn-success" href="/criar", >Criar</a>

</div>


<br>

<table class="table table-dark table-hover">
<tbody>
{% for i in ensaios_registrados %}
<tr>
    <td>{{ i.nome }}</td>
    <td class="text-end"><a href="/dosagem/{{ i.id }}" class='btn btn-secondary btn-sm'>Dosagem</a>
    	<a href="/editar_ensaio/{{ i.id }}" class='btn btn-secondary btn-sm'>Editar</a>
    	<a href="/home/{{ i.id }}" class="btn btn-danger btn-sm">DELETAR</a></td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
