{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class = "row">
        <div class="container">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dosagem/{{ id }}">Piloto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/rico/{{ id }}">Rico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/pobre/{{ id }}">Pobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/corpo_de_prova/{{ id }}">Resistências à compressão</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resultados/{{ id }}">Relatório</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calculadora/{{ id }}">Calculadora</a>
              </li>
            </ul>
            <br>
        </div>
    </div>

    <h1>Dosagem de materiais para o traço pobre</h1>


    <h4>Traço pobre (1:m+{{ mp - m }})<br>Slump: {{ slump }} mm</h4>
    <div class="table-responsive">
    <table class="table table-dark">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="3">Acréscimos para determinação do teor ideal de argamassa</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>#</th>
            <th>Alfa</th>
            <th>Cimento</th>
            <th>Areia</th>
            <th>Brita</th>
            <th>Água</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for i in ensaio_salvo.dosagem_pobre %}
    <form method="POST" action="/agua_pobre">
        <tr>
        <td>{{ 1 }}</td>
        <td>{{ i.alfa }} %</td>
        <td>{{ i.c_massa }}</td>
        <td>{{ i.a_massa }}</td>
        <td>{{ i.b_massa }}</td>
        
        <td><input type="hidden" value="{{ i.id }}" name="i_id">
        <input type="number" step="any" size="1" class="form-control form-control-sm" value="{{ i.agua }}" name="valor_agua_novo"></td>
        <td><input type="submit" class="btn btn-secondary btn-sm" value="Update"></td>
        </tr>
    </form>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div>
      Adicionar pesagem do concreto fresco (kg)
      <form method="POST" action="/pobre/pesagem/{{ id }}">
      <input type="number" step="any" size="1" class="form-control form-control-sm" value="{{ c.kg_pobre }}" name="pesagem_pobre">
      <input type="submit" class="btn btn-secondary btn-sm" value="Update">
      </form>
    </div>

</div>




{% endblock %}
